# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
orekit_env/
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Pytest / Test Cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# IDE & Editors
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Archives & Temporary artifacts
*.zip
*.tar.gz
scratch/
